.wrapper {
  background-color: rgb(71, 71, 71);
  min-height: 100vh;
}

nav {
  background: rgba(0, 0, 0, 0.495);
}

.hero {
  position: relative;
  min-height: 80vh;
}

.hero-content {
  max-width: 450px;
}

/* Card */
.movie-card-item {
  background-color: rgba(255, 255, 255, 0.485);
  backdrop-filter: blur(5px);
  max-width: 450px;
}
/* End Card */

.movie-card-item img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .movie-card-item img {
    max-height: 220px;

    object-fit: cover;
  }
}
